.about {
position:relative;
margin:auto;
padding:20px;
}

.about svg {
width:100%;
position:relative;
margin:30px auto;
padding:0;
}

.overflow_img{
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
}
.about_ovf{
 background: url("../src/about/overflow.jpg");
 background-size: cover;
}
.overflow_gray{
  background: rgba(0,0,0,.5);
}


.about-odd {
    color: #f9f9f9;
}

.about-odd h1::after {
    background-color: #f4f4f4;
}
