/* Styles go here */
html
{
  height: 100%;
}
body
{
  background-color:white;
  width:100%;
  height: 100%;
  margin:0px;
  padding:0px;
  font-size:100%;
  font-family: 'Open Sans', arial, serif;
  text-align:center;

}
.ih-item
{
  margin:20px 60px 30px 60px;
  display:inline-block;
}

.blocks
{
  margin: 0;
  min-height: 100%;
  overflow:auto;
  font-size:inherit;
}

.odd
{
  color:#210539;
}
.even
{
  background-color:#A5C843;
  color:white;
}

.even p, .even UL
{
  padding-left: 0;
  text-shadow: 1px 1px 2px black;
}

#zgl
{
  color:white;
  font-size:19pt;
}
#logo
{
  vertical-align:bottom;
  background-image:url("../img/bg.jpg");
  background-size:cover;
  background-position: center top; /* Положение фона */
  background-repeat: no-repeat;
}


.menu
{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
#menu LI
{
  width:120px;
  display:inline-block;
  text-decoration: none;
  color: #210539;
  padding:10px 10px 10px 10px;
  margin:2px 2px 0px 2px;
  font-size:20pt;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .5s ease-out;
}

#menu LI:hover
{
  transition: all .5s ease-out;
  background-color: #fff;
  background-color: RGBA(255, 255, 255, 1);
}



.hided
{
  display:none;
}
.egg:hover .hided
{
  display:inline;
}
.effect13
{
  margin: -40px 60px 0px 60px;
}

.leader
{
  margin-top:30px;
}

H1
{
  text-shadow: 1px 1px 2px black;
}
H1 hr
{
   width:40%;
   transition: all .4s ease-out;
}

H1:hover hr
{
  width:60%;
  transition: all .4s ease-out;
}

#mgh
{
  width:300px;
  height:500px;
  color:white;
  font-size:200%;
  text-align:center;
}
#mgh div
{
  width:300px;
  height:400px;
  transition: all .5s ease-out;
  background-image:url('https://4.downloader.disk.yandex.ru/preview/ec16ac651507be36a948033231b5c274e97b71783bc33621ca944b8bde1f0404/inf/5zUX0HbyG-oX9WdWEt2GD1VyiFhaJde43WQd0gAD6CqF5fC5QWRhz0_Qd36J3PRHaUH0y-xZazXu3C1MEO5KLw%3D%3D?uid=0&filename=%D0%A1%D1%82%D1%83%D0%BF%D0%B5%D0%BD%D1%8CProduction%D0%91%D0%95%D0%9B%D0%AB%D0%99png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=1180x672');
  background-size:cover;
}
#mgh:hover div
{
  transition: all .5s ease-out;
  background-image:url('https://3.downloader.disk.yandex.ru/preview/8785eb6888e97a5b453881e7a929af0effffe1fd34a4e4d729e536cdb9113c83/inf/hXNfKkAPSbBezIiqy_TPQTEgsMBDDFYcex4YBOfeI497yDq8VQcaWIIX4VQgmfEenwNE4H_1rGBe9s_bZEfNpw%3D%3D?uid=0&filename=%D0%A1%D1%82%D1%83%D0%BF%D0%B5%D0%BD%D1%8CProduction%D1%86%D0%B2%D0%B5%D1%82%D0%BD%D0%BE%D0%B9png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=1180x672');
  background-size:cover;
}


.s_new
{
  display: inline-block;
  width: 50px;
  height: 200px;
  background-color: black;
}

#s_ar
{
  left: 0px;
}
.vs_nw
{
  vertical-align: middle;
  display: inline-block;
  width: 878px;
  height: 420px;
  display: inline-block;
  white-space: nowrap;
  overflow-x:hidden;
  overflow-y:hidden;

}

.div_srelka
{
  vertical-align: top;
  display: inline-block;
  height: 420px;
  width: 50px;
  line-height: 420px;
}

.strelka_all
{
  height: 50px;
  border-radius: 50%;
  transition: all .5s ease-out;
  background-size: cover;
}
.strelka_left
{
  margin-top: 160px;

  background-image: url('../img/srelki/strelkaL.png');
}
.strelka_left:hover
{

  background-image: url('../img/srelki/strelkaL_H.png');
}
.strelka_right
{
  margin-top: 160px;

  background-image: url('../img/srelki/strelkaR.png');
}
.strelka_right:hover
{

  background-image: url('../img/srelki/strelkaR_H.png');
}

.nw
{
  display:inline-block;
  width:260px;
  padding: 0 15px;
  vertical-align:top;
  white-space: normal;
}

.nw img
{
  border-radius: 50%;
}

footer
{
  margin-top:70px;
  font-size:9pt;
  margin-bottom:-70px;
}

footer a
{
  color:white;
}

#m_menu
{
  display:none;
}

@media handheld, screen and (max-width: 1100px) {

.vs_nw
{
 width: 600px;
}

@media handheld, screen and (max-width: 850px) {

body{font-size:14px;}

#m_menu
{
  left: 0;
  top:0;
  display: inline;
  position:fixed;
  background-color: black;
  background-color: rgba(255,255,255,0.5);
  z-index: 21;
}

/*.menu{display:none;}*/
.effect13
{
  margin:0 auto;
}

.vs_nw
{
 width: 290px;
}

#menu
{
  display: none;
  position: fixed;
  width:200px;
  height: 100%;
  left:0px;
  top:0px;
  background-color: white;
  z-index: 20;
}

}


}
