
/* Styles go here */
html
{
  height: 100%;
}

body
{
  background-color: #f7f7f7;
  width:100%;
  height: 100%;
  margin:0px;
  padding:0px;
  font-size:100%;
  font-family: 'Open Sans';
  text-align:center;
}


#toTop /* Кнопочка "Наверх" */
{
  position: fixed;
  width: 40px;
  height: 40px;
  left:20px;
  top: 80px;
  transition: all .9s ease-out;
  opacity: 0.0;
}

.ih-item /*Hover картинки*/
{
  margin:20px 40px 30px 40px;
  display:inline-block;
}

.blocks /*Основные блоки*/
{
  min-height: 100%;
  overflow:hidden;
}

.blocks  h2 {padding:0 10%;}

.odd {color:#210539;} /* Нечётные блоки */

.even {background-color:#478430; color:white;} /* Чётниые блоки */

#logo
{
  vertical-align:bottom;
  background-image:url("../img/bg.jpg");
  background-size:cover;
  background-position: center top; /* Положение фона */
  background-repeat: no-repeat;
}

/* Мнею примагничивается к низу */
.menu { position: absolute; bottom: 0px; width: 100%; }

#menu LI
{
  width:120px;
  display:inline-block;
  text-decoration: none;
  color: #210539;
  padding:10px 10px 10px 10px;
  margin:2px 2px 0px 2px;
  font-size:20pt;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .5s ease-out;
  cursor:pointer;
}

#menu LI:hover {background-color: rgba(255, 255, 255, 1);}

.hided
{display:none;}

.effect13
{ margin: -40px 60px 0px 60px; }


.leader
{ margin-top:30px;}

H1, H2, H3, H4, H5 { font-weight:normal; }

H1
{ 
  display: inline-block; 
  width: auto; 
  font-size: 25pt; 
  text-decoration: none;
}

H1 hr
{
  margin-top:4px;
  border:0px none;
  height:1px;
  width:60%;
  transition: all .4s ease-out;
}

H1:hover hr {width:100%;}

.odd hr {background-color:black; color: black;}
.even hr {background-color:white; color: white;}

H5 {font-size:18pt;}


.vs_nw, .vs_ph /*настройка для блоков проматывающихся новостей*/
{
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x:hidden;
  overflow-y:hidden;
}
.vs_nw{width: 878px; height: 500px;}

.div_srelka
{
  vertical-align: top;
  display: inline-block;
  height: 420px;
  width: 50px;
  line-height: 420px;
}

.strelka_all
{
  height: 50px;
  border-radius: 50%;
  transition: all .5s ease-out;
  background-size: cover;
  cursor:pointer;
}

.main_p_strelka
{
  margin-top: 200px;
}

.strelka_left
{background-image: url('../img/srelki/strelkaL.png');}
.strelka_left:hover
{background-image: url('../img/srelki/strelkaL_H.png');}
.strelka_right
{background-image: url('../img/srelki/strelkaR.png');}
.strelka_right:hover
{background-image: url('../img/srelki/strelkaR_H.png');}

.nw, .ph /* Блок проматывающихся новостей */
{
  display:inline-block;
  vertical-align:top;
  white-space: normal;
}

.nw
{
  width:260px;
  padding: 0 15px;
}


.nw img { border-radius: 50%; }

.nw a {text-decoration: none; color:black; cursor:pointer;}

#volonters {margin-bottom: 30px;}

.volonter
{
  width:240px;
  display: inline-block;
  margin: 10px 10px 40px 10px; 
  white-space: nowrap;
}

#v_peoples
{
  white-space: nowrap;
  display: inline-block;
  width: 800px;
  height: 120px;
  overflow-x:hidden;
  overflow-y:hidden;
}

#volonters .div_srelka {height: 100px;}

#volonters .strelka_all
{margin-top: 40px;}

#volonters .strelka_left
{background-image: url('../img/srelki/strelkawL.png');}
#volonters .strelka_left:hover
{background-image: url('../img/srelki/strelkaL_H.png');}
#volonters .strelka_right
{background-image: url('../img/srelki/strelkawR.png');}
#volonters .strelka_right:hover
{background-image: url('../img/srelki/strelkaR_H.png');}

.volonter img {float: left; margin: 10px; border-radius: 50%;}

.volonter h3 {text-align: left;}


footer
{
  margin-top: 100px;
  font-size:9pt;
  padding:10px;
}

footer a {color:white;}


#m_menu /*Отключить показ значка мобильного меню*/
{
  display:none;
}


time /*Стиль для даты и времени*/
{
  color:gray;
  font-style: italic;
}


/*Стили для страницы новостей и проектов*/
/* Картинки в шкапке */
#logo_news {background-image: url(../img/bg_news.jpg);}
#logo_contacts {background-image: url(http://plus200.ru/images/contac.jpg);}
#logo_media {background-image: url(http://digitalbuzz.ie/wp-content/uploads/videoproduction.png);}
#logo_news, #logo_contacts, #logo_media
{
  background-position: center top;
  background-size: cover;
}

.logo img
{
  position: absolute;
  top: 0;
  left: 0;
}

.logo h1
{
  padding-top: 30px;
  height: 50px;
  font-size: 200%;
}

#zgl
{
  color:white;
  font-size:19pt;
}

.page_menu
{
  margin-bottom: -14px;
}

.pluso
{
  float: left;
  margin: 100px -8% 30px 9%;
}


.vs_ph
{
  width: 648px;
  height: 150px;
}

.ph
{
  width:150px;
   padding: 0 5px;
}


.nw img, .ph img
{
  border-radius: 50%;
}

.nw a, nav a
{
  text-decoration: none;
  color:#210539;
}

.vs_ph a
{
  text-decoration: none;
  color:#210539;
}

.pages {padding:2% 10%;}
.pages p {text-align:justify;}



.str_page_mr
{
  margin-top: 50px;
}


/* Блок новостей  */

.button
{
  cursor:pointer;
}
input[name^="shadow-"] {display: none;}
.allnews
{
  text-align:center;
}
.anews
{
  height: 0;
  margin:0 20%;
  transition: all 0.9s ease-out;
}
[name^="shadow-"]:checked + .key1 ~ .anews,
[name^="shadow-"]:checked + .key1 ~ * .anews {
    height: 300px;
    overflow-style: ;
}





@media handheld, screen and (max-width: 1100px) {

.vs_nw {width: 600px;}
.vs_ph {width: 490px;}

#v_peoples{width: 500px;}

}

@media handheld, screen and (max-width: 850px) {

body{font-size:14px;}

#toTop{display: none;}

/*Включить показ мобильного меню*/
#m_menu
{
  left: 5px;
  top:5px;
  display: inline;
  position:fixed;
  z-index: 21;
}

.effect13
{margin:0 auto;}

.vs_nw
{width: 280px;}

.vs_ph {width: 320px;}

#v_peoples
{width: 260px;}

/*Стиль мобильного меню, выезжает сбоку*/
#menu
{
  display: none;
  position: fixed;
  width:200px;
  height: 100%;
  left:0px;
  margin:0px;
  padding-top:60px;
  top:0px;
  background-color: white;
  z-index: 20;
  box-shadow: 10px 0 50px rgba(0,0,0,0.7);
}


#menu LI
{
  margin-top:30px;
  margin-left: -30px;
}

.logo img
{
  position: relative;
}

}

@media handheld, screen and (max-width: 500px) {

body{font-size:13px;}

#toTop{display: none;}

/*Включить показ мобильного меню*/
#m_menu
{
  left: 5px;
  top:5px;
  display: inline;
  position:fixed;
  z-index: 21;
}

.effect13
{margin:0 auto;}

.vs_nw
{width: 200px;}

.vs_ph {width: 200px;}

#v_peoples
{width: 200px;}

.news_photo
{
  width:150px;
  height:150px;
}

.nw
{
  width:180px;
}

#logo_pic {width:350px;height:210px;}

.ph {width: 90px;}

.ph img {margin-top:30px;width:90px;height: 90px;}
}
